


  

  <div class="login">
    <form class="form-signin">
      <form class="form-newuser">
      <div class="text-center mb-4">
        <img class="mb-4" src="https://www.fi.edu/sites/default/files/styles/hero_large_two/public/Hero_VR_StockPhoto_iStock_85477625_XLARGE.jpg?itok=SShtDATj" alt="" width="250" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Virtual Class Room</h1>
        <!-- <p>Build form controls with floating labels via the <code>:placeholder-shown</code> pseudo-element. <a href="https://caniuse.com/#feat=css-placeholder-shown">Works in latest Chrome, Safari, and Firefox.</a></p> -->
      </div>

      <div class="form-label-group">
        <input type="text" id="inputEmail" class="form-control" placeholder="Email address"  name="first" required [(ngModel)]="username" autofocus>
        <label for="inputEmail">User Name</label>
      </div>

      <div class="form-label-group">
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="second" required [(ngModel)]="password" autofocus>
        <label for="inputPassword">Password</label>
      </div>

      <!-- <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div> -->
      <button class="btn btn-lg btn-primary btn-block" type="button" (click)="onSubmit()">Sign in</button>
      <button class="btn btn-lg btn-primary btn-block" type="button" (click)="onRoast()">Newuser</button>
      <!-- <p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2018</p> -->
    </form>
    </form>
</div>
