.btn-danger{
    display: none !important;
}

.mat-tab-labels{
    background-color: #00000091
}

.testme{
opacity :1;
background-color: #00000091
}

p{ line-height: 1em; }
h1, h2, h3, h4{
color: rgb(79, 9, 207);
font-weight: normal;
line-height: 2.1em;
margin: 0 0 .5em 0;
}
h1{ font-size: 1.7em; }
h2{ font-size: 1.5em; }
a{
color: rgb(241, 14, 82);
text-decoration: mediumorchid;
float:left;
position:relative;

border: right 0.2px solid #d8d8d8;
border: left 0.2px solid #ffffff;
font-family:'Times New Roman', Helvetica, sans-serif;
font-size:1.00em;
font-weight:bold;
color:#666666;
text-shadow:0px 1px 0px #ffffff;

display: inline-block;
padding:0 1em;
line-height:2.5em;
}
a:hover,
a:active{ text-decoration: underline; }

