
<html>
    <head>
    
    <!-- your webpage info goes here -->
    
        <title>Dashboard</title>
        
        <meta name="author" content="your name" />
        <meta name="description" content="" />
    
    <!-- you should always add your stylesheet (css) in the head tag so that it starts loading before the page html is being displayed -->	
        
    </head>
    <body>
    
    <!-- webpage content goes here in the body -->
        
            
        <div id="page">
            <div id="logo">
                <h1><a>Dashboard</a></h1>
            </div>
            <div id="nav">
    
                <ul>
                
                    <li><a href="#/home.html">Home</a></li>
                    <li><a>Live classroom session</a></li>

                    

                    
                
                </ul>
                
                
                
                  

               
                <label for="myCOURSE">UPLOADS</label>
                <input type="text" id="myCOURSE" name="COURSE" list="COURSELIST">
    
                <datalist id="COURSELIST">
                  <label for="suggestion">or pick a type</label>
                  <select id="suggestion" name="altFruit">
                    <option>VIDEOS</option>
                    <option>PRESENTATION</option>
                    <option>SYLLABUS</option>
                    <option>MOCK PAPERS</option>
                    <option>QUIZ PAPERS</option>
                  </select>
                </datalist>
                <button type="submit" form="nameform" value="Submit">Submit</button>

                    
                
                            
            

    
              
                      
                                    
                      
            </div>
            
            <div id="content">
                <h2>Home</h2>
                <p>
                    This is my first webpage! I was able to code all the HTML and CSS in order to make it. Watch out world of web design here I come!
                </p>
                <p> 
                    I can use my skills here to create websites for my business, my friends and family, my C.V, blog or articles. As well as any games or more experiment stuff (which is what the web is really all about). 
                </p>
            </div>
            <div id="footer">
                <p>
                    Webpage made by <a href="/" target="_blank">[your name]</a>
                </p>
            </div>
        </div>
    </body>
    </html>
    
            
            