             
        <div id="page">
            <div id="logo">
                <h1><a>Dashboard</a></h1>
            </div>
            <div id="nav">
    
                <ul>
                
                    <li><a href="#/home.html">Home</a></li>
                    <li><a>Live classroom session</a></li>

                    

                    
                
                </ul>
                
                
                
                  
                <form-upload></form-upload>
               
                <label for="myCOURSE">UPLOADS</label>
                <input type="text" id="myCOURSE" name="COURSE" list="COURSELIST">
    
                <datalist id="COURSELIST">
                  <label for="suggestion">or pick a type</label>
                  <select id="suggestion" name="altFruit">
                    <option>VIDEOS</option>
                    <option>PRESENTATION</option>
                    <option>SYLLABUS</option>
                    <option>MOCK PAPERS</option>
                    <option>QUIZ PAPERS</option>
                  </select>
                </datalist>
                <button type="submit" form="nameform" value="Submit">Submit</button>

                    
                
                            
            

    
              
                      
                                    
                      
            </div>
            
            
               
        </div>
   
    
            
            