
<html>
<head>

<!-- your webpage info goes here -->

	<title>Dashboard</title>
	
	<meta name="author" content="your name" />
	<meta name="description" content="" />

<!-- you should always add your stylesheet (css) in the head tag so that it starts loading before the page html is being displayed -->	
	
</head>
<body>

<!-- webpage content goes here in the body -->
	
		
	<div id="page">
		<div id="logo">
			<h1><a>Dashboard</a></h1>
		</div>
		<div id="nav">

            <ul>
			
				<li><a href="#/home.html">Home</a></li>
				<li><a>Latest Uploads</a></li>
                <li><a>Quiz papers</a></li>
                <li><a>Mock papers</a></li>
				<li><a>Courses</a></li>
                <li><a>Course wise syllabus</a></li>
                <li><a>Videos</a></li>
			</ul>
			<form>
					  <div>
						<label for="appt-time">Choose an appointment time (opening hours 12:00 to 18:00): </label>
						<input id="appt-time" type="time" name="appt-time"
						       min="12:00" max="18:00" required>
						<span class="validity"></span>
					  </div>
					  <div>
					      <input type="submit" value="Submit">
					  </div>
					</form>
					
							
					
								
				  
		</div>
		
		<div id="content">
			<h2>Home</h2>
			<p>
				This is my first webpage! I was able to code all the HTML and CSS in order to make it. Watch out world of web design here I come!
			</p>
			<p> 
				I can use my skills here to create websites for my business, my friends and family, my C.V, blog or articles. As well as any games or more experiment stuff (which is what the web is really all about). 
			</p>
		</div>
		<div id="footer">
			<p>
				Webpage made by <a href="/" target="_blank">[your name]</a>
			</p>
		</div>
	</div>
</body>
</html>

		
		