
<html>
<head>

<!-- your webpage info goes here -->

	<title>Dashboard</title>
	
	<meta name="author" content="your name" />
	<meta name="description" content="" />

<!-- you should always add your stylesheet (css) in the head tag so that it starts loading before the page html is being displayed -->	
	
</head>
<body>

<!-- webpage content goes here in the body -->
	
		
	<div id="page">
		<div id="logo">
			<h1><a>Dashboard</a></h1>
		</div>
		<div id="nav">

            <ul>
			
				<li><a href="#/home.html">Home</a></li>
				<li><a>Latest Uploads</a></li>
                <li><a>Quiz papers</a></li>
                <li><a>Mock papers</a></li>
				<li><a>Courses</a></li>
                <li><a>Course wise syllabus</a></li>
				<li><a>Videos</a></li>
				<li><a>Faculty session appointments</a></li>
				
			</ul>
			
								
				  
		</div>
		
		<div id="content">
			<h2>Home</h2>
			<p>
          Links you directly back to the home page.
			</p>
		
		</div>
		<div id="footer">
			<p>
				Webpage made by <a href="/" target="_blank">[your name]</a>
			</p>
		</div>
	</div>
</body>
</html>

		
		